{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
    <div class="title-box"><h1 class="titleblack">Change My Information</h1></div>
		<div class="content-wrapper white-bg">
            <div class="row">
				<div class="col-6 col-xl-6">
                    <label for="inputEmail3" class="col-form-label">Email Address</label>
                    <b>{{ current_user_mail }}</b>
                </div>
            </div>
			<div class="row">
				<div class="col-lg-6">
					{{ form.last_name }}
				</div>
				<div class="col-lg-6">
					{{ form.first_name }}
				</div>
				<div class="col-lg-6">
					{{ form.phone_number }}
				</div>
				<div class="col-lg-6">
					{{ form.cell_phone }}
				</div>
				
				<div class="col-lg-12">
					<div class="btncenter">
						{{ form.actions }}
					</div>
				</div>

			</div>
	    </div>

        <div class="title-box"><h1 class="titleblack">Change My Role/Agency/Districts</h1></div>
		<div class="content-wrapper white-bg">
			<p class="plh">
				If you need to change your role, agency type, or districts, send an email to<br>
				<a class="alinkcolor" href="mailto:shubham@cityonsystems.com">shubham@cityonsystems.com</a>
				<a class="alinkcolor" href="mailto:nilesh@cityonsystems.com">nilesh@cityonsystems.com</a>
				<a class="alinkcolor" href="mailto:virendra@cityonsystems.com">virendra@cityonsystems.com</a>
			</p>
	    </div>

        <div class="title-box"><h1 class="titleblack">Change My Email Address</h1></div>
		<div class="content-wrapper white-bg">
			<p class="plh">
				1) Click here to <a href="/user-register" class="alinkcolor">Setup New Account.</a><br>
				2) Complete the information fields.<br>
				3) Click Save after all the fields are finalized.<br>
				4) Check your email for a computer-generated email with a temporary password.<br>
				5) Use the new email address and temporary password to log in.<br>
				6) Instructions will direct you to set up a permanent password.
			</p>
	    </div>