{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

  <div class="title-box"><h1 class="titleblack">Change My Password</h1></div>
  <div class="content-wrapper white-bg">
			<div class="row">
				<div class="col-lg-12">
				<p class="plh">
					1. Enter your current password to confirm your identity.<br>
					2. Enter your new password and repeat to confirm.<br>
					3. When finished, click save to update the password.   <b>NO EMAIL NOTIFICATION WILL BE SENT.</b>
				</p>
				</div>
				<div class="col-lg-12">
					{{ form.account.current_pass }}
					
				</div>
				<div class="col-lg-12">
					<p class="plh"><b>Password Policy :</b> The password must contain at least four letters and one numeral.</p>
				</div>
				
				<div class="col-lg-12">
					{{ form.account.pass }}
                    {{ form.actions }}
				</div>
				
				
				
			</div>
		
		</div>
