{#
/**
 * @file
 * Seven's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.pre_content: Items for the pre-content region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.highlighted: Items for the highlighted region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="main-wrapper">
	<div class="container-fluid">
	<div class="row">
		
	<div class="col-lg-3 p-0 custom-3wdt">
		
	  <div class="main-logo"><a href="/"><img src="{{ base_path ~ directory }}/images/Legal-Framework-Logo-small.png" alt=""></a> 
		  
	  </div>
		
		
		</div>	
		
	  {% include directory ~ '/templates/sidebar.html.twig' %}	
		

	<div class="col-lg-9 custom-9wdt">
		
		<div class="top-noti-user">
			
		  
		  <button class="button-menu-mobile waves-effect waves-light rotateicon menu-tgl">
             <span class="menu-arrowin"></span>
          </button>	
	
	<div class="top-user-profile">
	 <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/user.png" alt="">
	 <p>Welcome<small>{{ full_name }}</small></p>	</a>
		
	  <ul class="dropdown-menu">
		  <li class="user-nametxt">Welcome {{ full_name }} <br>
{{ current_user_mail }}<br>
{{ current_day }}</li>
		  <li><a href="/user/{{ uid }}/edit">My Account</a></li>
		  <li><a href="#">Settings</a></li>
		  <li><a href="/user/logout">Logout</a></li>
		</ul>	
		
		
	</div>
   </div>

		<div class="title-box"><h1 class="title"></h1></div>
		
		<div class="content-wrapper white-bg">
		
		  {{ page.pre_content }}
              {{ page.breadcrumb }}
    
              {{ page.highlighted }}
              {% if page.help %}
                <div class="help">
                  {{ page.help }}
                </div>
              {% endif %}
              {{ page.content }}
		
	    </div>
		
		<footer class="main-footer">
		  2021 © Region 18 Education Service Center. All rights reserved.
		</footer>
		
	</div>
		 
	</div>
	</div>	
</div>
 