{#
/**
 * @file
 * Theme "page__simplelogin" template.
 *
 * @see simplelogin_preprocess_simplelogin()
 * @see simplelogin_theme_registry_alter()
 */
#}
{% spaceless %}
  <div class="simplelogin-wrapper {{ background_class }} {{ background_opacity }}">
    <div class="simplelogin-form" style="width: {{ wrapper_width }}px">
     <div class="glowBox">
   <!--<img src="{{ base_path ~ directory }}/images/logo.jpg" style="width:100%; vertical-align: middle; border-radius: 6px;">-->
   </div>
      <div class="simplelogin-bg">
        <div class="simplelogin-logo">
          <a href="{{ base_path }}"><img src="{{ base_path ~ directory }}/images/Legal-Framework-Logo-12092021.png" alt="Home"/></a>
          
       </div>

        {{ page.highlighted }}
    
        {{ page.content }}
    
 
       
     {% if path == '/user/login' %}
          <div class="forgot-password mainlinks">
       <a href="{{ base_path }}user/register" style="color: #0d6cb9;text-align:left; float:left; text-decoration:underline;font-weight: 600;">Setup New Account</a>
            <a href="{{ base_path }}user/password"  style="color: #0d6cb9;text-align:left; float:right; text-decoration:underline;font-weight: 600;">{{ 'Forgot My Password'|t }}</a>
          </div>
       
        {% endif %}
    
      </div>
    </div>
  </div>
   <p class="footer-note" style="text-align:center; color:#000;">For assistance, please <a href="#" style="text-decoration:underline; color:#f16038; font-weight:bold;">click here</a> for your ESC contact</p>
  <p class="footer-note" style="text-align:center; color:#000;" "="">2021 © Region 18 Education Service Center.</p>
{% endspaceless %}
