<div class="left-side-menu">

                <div class="h-100" data-simplebar>

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul id="side-menu">
                
                            <li>
                                <a href="#myworkbench" data-toggle="collapse">
									<i class="fas fa-diagnoses"></i>
                                    <span> MY WORKBENCH </span>
									<span class="menu-arrowin"></span>
                                </a>
                                <div class="collapse" id="myworkbench">
                                    <ul class="nav-second-level">
                                        <li><a href="all_requests.html">All requests (T - 3, W - 3)</a></li>
										<li><a href="#">Rework requests (0)</a></li>
										<li><a href="#">Waiting Review (0)</a></li>
										<li><a href="#">Waiting Approval (0)</a></li>
										<li><a href="#">Waiting TEA Approval</a></li>
										<li><a href="#">Action Pending Approval (0)</a></li>
										<li><a href="#">Action Pending Publishing (0)</a></li>
										<li><a href="#">Waiting Publishing (0)</a></li>
										<li><a href="#">View All Requests</a></li>
										<li><a href="#">Sent for Comments (0)</a></li>
										<li><a href="#">Sent for Approval (0)</a></li>
										<li><a href="#">Sent for Translation (0)</a></li>
										<li>
											<a href="#frameworkchange" data-toggle="collapse">
												<span> Framework Change </span>
												<span class="menu-arrow"></span>
											</a>
											<div class="collapse" id="frameworkchange">
												<ul class="nav-second-level">
													<li><a href="#">Add</a></li>
													<li><a href="#">Modify</a></li>
													<li><a href="#">Delete</a></li>
												</ul>
											</div>
										</li>
										<li>
											<a href="#categorychange" data-toggle="collapse">
												<span> Category Change </span>
												<span class="menu-arrow"></span>
											</a>
											<div class="collapse" id="categorychange">
												<ul class="nav-second-level">
													<li><a href="#">Add</a></li>
													<li><a href="#">Modify</a></li>
													<li><a href="#">Delete</a></li>
													<li><a href="#">Edit Sequence</a></li>
												</ul>
											</div>
										</li>													
                                    </ul>
                                </div>
                            </li>
							
							<li>
                                <a href="#internalproducts" data-toggle="collapse">
									<i class="fas fa-layer-group"></i>
                                    <!--<span class="badge bg-success rounded-pill float-end">11</span>
									<span class="badge float-end"><img src="images/menu.png" width="15px"></span>
									<i class="fa fa-indent float-end font-14" ></i>-->
                                    <span> INTERNAL PRODUCTS </span>
									<span class="menu-arrowin"></span>
                                </a>
                                <div class="collapse" id="internalproducts">
                                    <ul class="nav-second-level">
										<li>
											<a href="#useraccounts" data-toggle="collapse">
												<span> User Accounts </span>
												<span class="menu-arrow"></span>
											</a>
											<div class="collapse" id="useraccounts">
												<ul class="nav-second-level">
													<li><a href="/pending-users">Pending</a></li>
													<li><a href="/active-users">Active</a></li>
													<li><a href="/inactive-users">Inactive</a></li>
												</ul>
											</div>
										</li>
										<li><a href="#">LEA Database</a></li>
										<li>
											<a href="#resourcelibrary" data-toggle="collapse">
												<span> Resource Library </span>
												<span class="menu-arrow"></span>
											</a>
											<div class="collapse" id="resourcelibrary">
												<ul class="nav-second-level">
													<li><a href="#">Operating Procedures</a></li>
													<li><a href="#">Documents</a></li>
													<li><a href="#">Training Material</a></li>
												</ul>
											</div>
										</li>
										<li>
											<a href="#changedocuments" data-toggle="collapse">
												<span> Change Documents </span>
												<span class="menu-arrow"></span>
											</a>
											<div class="collapse" id="changedocuments">
												<ul class="nav-second-level">
													<li><a href="#">Upload</a></li>
													<li><a href="#">View</a></li>
												</ul>
											</div>
										</li>
										<li>
											<a href="#policies" data-toggle="collapse">
												<span> Policies </span>
												<span class="menu-arrow"></span>
											</a>
											<div class="collapse" id="policies">
												<ul class="nav-second-level">
													<li><a href="/policies">Placeholder Database</a></li>
													<li><a href="#">Designations</a></li>
												</ul>
											</div>
										</li>
										<li>
											<a href="#operatingprocedures" data-toggle="collapse">
												<span> Operating Procedures </span>
												<span class="menu-arrow"></span>
											</a>
											<div class="collapse" id="operatingprocedures">
												<ul class="nav-second-level">
													<li><a href="#">Placeholder Database</a></li>
													<li><a href="#">Designations</a></li>
												</ul>
											</div>
										</li>
										<li>
											<a href="#reports" data-toggle="collapse">
												<span> Reports </span>
												<span class="menu-arrow"></span>
											</a>
											<div class="collapse" id="reports">
												<ul class="nav-second-level">
													<li><a href="#">Generate Reports</a></li>
													<li><a href="#">Add / View A Note</a></li>
												</ul>
											</div>
										</li>
										<li>
											<a href="#assurancestatements" data-toggle="collapse">
												<span> Assurance Statements </span>
												<span class="menu-arrow"></span>
											</a>
											<div class="collapse" id="assurancestatements">
												<ul class="nav-second-level">
													<li><a href="#">OSEP - Revision of Documents</a></li>
													<li><a href="#">Review Resources & Guidance</a></li>
													<li><a href="#">Right to Information</a></li>
													<li><a href="#">Notice of Educational Rights</a></li>
													<li><a href="#">Transition</a></li>
													<li><a href="#">SPP</a></li>
												</ul>
											</div>
										</li>
										<li><a href="/announcements">Announcements</a></li>
										<li><a href="#">A-Z Index</a></li>
										<li><a href="/event-log">System EventLog</a></li>												
                                    </ul>
                                </div>
                            </li>
							
							<li>
                                <a href="#externalproducts" data-toggle="collapse">
                                    <i class="fas fa-database"></i>
                                    <span> EXTERNAL PRODUCTS </span>
									<span class="menu-arrowin"></span>
                                </a>
                                <div class="collapse" id="externalproducts">
                                    <ul class="nav-second-level">
										<li><a href="#">Citations</a></li>
										<li>
											<a href="#fw-ars" data-toggle="collapse">
												<span> FW-ARs </span>
												<span class="menu-arrow"></span>
											</a>
											<div class="collapse" id="fw-ars">
												<ul class="nav-second-level">
													<li><a href="#">Database</a></li>
													<li><a href="#">Designations</a></li>
												</ul>
											</div>
										</li>
										<li><a href="#">Resources</a></li>
										<li><a href="#">Glossary</a></li>
										<li><a href="#">Contact Us Page</a></li>
										<li>
											<a href="#listserv" data-toggle="collapse">
												<span> Listserv </span>
												<span class="menu-arrow"></span>
											</a>
											<div class="collapse" id="listserv">
												<ul class="nav-second-level">
													<li><a href="#">Notices</a></li>
													<li><a href="#">Subscribers</a></li>
												</ul>
											</div>
										</li>													
                                    </ul>
                                </div>
                            </li>
							
							<li>
                                <a href="#">
                                    <i class="fas fa-map-marked-alt"></i>
                                    <span> STATISTICS HEAT MAP </span>
                                </a>
                            </li>
							
							<li>
                                <a href="#">
                                    <i class="fas fa-chalkboard-teacher"></i>
                                    <span> FRAMEWORK DISPLAY PORTAL </span>
                                </a>
                            </li>
							
							<li>
                                <a href="#editmyinformation" data-toggle="collapse">
                                    <i class="fas fa-user-edit"></i>
                                    
                                    <span> EDIT MY INFORMATION </span>
									<span class="menu-arrowin"></span>
                                </a>
                                <div class="collapse" id="editmyinformation">
                                    <ul class="nav-second-level">
										<li><a href="/user/{{ uid }}/update">Change My Information</a></li>
										<li><a href="/user/{{ uid }}/change-password">Change My Password</a></li>												
                                    </ul>
                                </div>
                            </li>
							
                        </ul>

                    </div>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>