/**
 * Variables
 */
:root {
  --content-bg: #f2f4ff;
  --content-border-color: #ced1e4;
  --footer-bg: #232733;
  --footer-color: #919296;
  --footer-border-color: #373b48;
  --text-color: #2a2a2a;
  --bold-color: #1e2127;
  --border-color: #e9ebf5;
  --theme-color: tomato;
  --theme-color-two: #302e44;
}

/* HTML and Body
---------------------------------------- */
html {
  line-height: 1.7;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: -system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.7;
  background: #ffffff;
  color: var(--text-color);
  overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Fonts
---------------------------------------- */
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans.woff2") format("woff2"), url("../fonts/open-sans.woff") format("woff");
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff");
}

/* Regions
---------------------------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

summary {
  display: list-item;
  cursor: pointer;
  color: #a1a1a1;
  color: var(--text-color);
}

template,
[hidden] {
  display: none;
}

/* Typography
---------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.6;
  margin: 0;
  color: var(--bold-color);
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 1em 0;
}

b,
strong {
  font-weight: bolder;
  color: var(--bold-color);
}

dfn,
cite {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

small {
  font-size: 80%;
}

big {
  font-size: 125%;
}

em {
  font-style: normal;
  color: var(--theme-color);
}

a {
  color: var(--theme-color);
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

a:active,
li a.active {
  color: var(--theme-color);
}

a:hover,
a:visited:hover {
  color: var(--theme-color-two);
}

a:active,
a:hover,
a:focus {
  text-decoration: none;
  border: 0;
  outline: 0;
}

/* Typography-> code tags */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
  background: var(--content-bg);
}

kbd {
  margin: 0;
  padding: 0 5px;
}

pre {
  overflow: auto;
  margin: 1em 0;
  padding: 1em;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

tt,
var {
  font-family: monospace, monospace;
  font-style: italic;
}

mark {
  background: var(--theme-color);
  color: #ffffff;
  text-shadow: none;
}

acronym[title], abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

abbr,
acronym {
  cursor: help;
}

/* Media
---------------------------------------- */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img,
a img {
  max-width: 100% !important;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-style: none;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  max-width: 100%;
  height: auto;
  margin: 1em 0;
  border: 0;
}

.align-left {
  margin: 1em 1em 1em 0;
}

.align-right {
  margin: 1em 0 1em 1em;
}

.align-center {
  margin-top: 1em;
  margin-bottom: 1em;
}

figcaption {
  padding: 4px;
  font-size: 0.8em;
  background: var(--content-bg);
  border: 1px solid var(--border-color);
  text-align: center;
}

.image-field {
  margin: 0 0 1em 0;
}

/* Form
---------------------------------------- */
form {
  margin-bottom: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.6;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  position: relative;
  cursor: pointer;
  border: 0;
  padding: 8px 10px;
  background: var(--theme-color);
  color: #fff;
  -webkit-appearance: button;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  background: var(--theme-color-two);
  color: #ffffff;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 0;
}

button[disabled],
html input[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

input {
  line-height: normal;
}

input, textarea {
  max-width: 100%;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  background: transparent;
  color: var(--text-color);
  padding: 10px;
  border: 1px solid var(--border-color);
  -webkit-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border: 1px solid var(--theme-color-two);
  outline: 0;
}

textarea {
  width: 100%;
  overflow: auto;
  -webkit-transition: border 0.3s linear;
  transition: border 0.3s linear;
  vertical-align: top;
}

@-webkit-keyframes autofill {
  to {
    color: var(--text-color);
    background: transparent;
  }
}

@keyframes autofill {
  to {
    color: var(--text-color);
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  margin: 0 0 10px 0;
  padding: 0.35em 0.5em 0.5em 0;
  border: 1px solid var(--border-color);
}

fieldset > :last-child {
  margin-bottom: 0;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

optgroup {
  font-weight: bold;
}

select {
  padding: 4px 0;
}

form label {
  color: var(--bold-color);
}

label[for] {
  cursor: pointer;
}

/* Animated expanding textarea */
.form-textarea {
  height: 100px;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

.form-textarea:focus {
  height: 180px;
}

/* Filter Module */
.filter-wrapper {
  border: 1px solid var(--border-color);
}

/* Common HTML Elements
---------------------------------------- */
hr {
  clear: both;
  width: 100%;
  height: 2px;
  background: var(--border-color);
  border: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: visible;
}

address {
  margin: 0 0 1em 0;
  font-style: italic;
}

/* Definition Lists */
dt {
  color: var(--bold-color);
  font-weight: 700;
}

dd {
  margin: 0 0 1.2em 0;
}

blockquote {
  position: relative;
  margin: 1em 0;
  padding: 1em;
  background: var(--content-bg);
  border-left: 6px solid var(--theme-color);
  border-top: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

blockquote > :last-child {
  margin-bottom: 0;
}

/* List
---------------------------------------- */
ul,
ol {
  margin: 0;
  padding: 0 0 0.25em 1em;
}

[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1em 0.25em 0;
}

ol ol,
ul ul {
  margin: 0;
  padding: 0 0 0.25em 1em;
}

[dir="rtl"] ol ol,
[dir="rtl"] ul ul {
  padding: 0 1em 0.25em 0;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1em 0.25em 0;
}

li {
  padding: 4px 0;
}

/* Table
 ---------------------------------------- */
table {
  width: 100%;
  margin-bottom: 1.2em;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
tr,
td {
  vertical-align: middle;
}

th {
  margin: 0;
  padding: 5px;
  background: var(--content-bg);
  color: var(--bold-color);
  border: 1px solid var(--border-color);
  text-align: left;
  text-shadow: none;
}

td {
  padding: 5px;
  border: 1px solid var(--border-color);
}

/* Default box sizing.
 ---------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:after,
*::after,
*:before,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Font icons used in theme
---------------------------------------- */
@font-face {
  font-family: 'vani';
  src: url("../fonts/vani.eot");
  src: url("../fonts/vani.eot") format("embedded-opentype"), url("../fonts/vani.ttf") format("truetype"), url("../fonts/vani.woff") format("woff"), url("../fonts/vani.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vani' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-document:before {
  content: "\e914";
}

.icon-menu:before {
  content: "\e913";
}

.icon-add_comment:before {
  content: "\e910";
}

.icon-vimeo:before {
  content: "\e912";
}

.icon-comments:before {
  content: "\e911";
}

.icon-exclamation-circle:before {
  content: "\e90e";
}

.icon-exclamation-triangle:before {
  content: "\e90f";
}

.icon-check-square:before {
  content: "\e90d";
}

.icon-hashtag:before {
  content: "\e90c";
}

.icon-calendar:before {
  content: "\e90a";
}

.icon-user:before {
  content: "\e90b";
}

.icon-search:before {
  content: "\e909";
}

.icon-vk:before {
  content: "\e900";
}

.icon-github:before {
  content: "\e901";
}

.icon-whatsapp:before {
  content: "\e902";
}

.icon-telegram:before {
  content: "\e903";
}

.icon-youtube:before {
  content: "\e904";
}

.icon-linkedin:before {
  content: "\e905";
}

.icon-instagram:before {
  content: "\e906";
}

.icon-twitter:before {
  content: "\e907";
}

.icon-facebook:before {
  content: "\e908";
}

.container {
  position: relative;
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Main wrapper -> Main + Sidebar
--------------------------------*/
.main-wrapper {
  width: 100%;
  padding: 2em 0;
}

/* Layout -> containers */
.main-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0;
  padding: 0;
}

.no-sidebar .main-container,
.sidebar-left .main-container,
.sidebar-right .main-container,
.two-sidebar .main-container {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

/* Main
--------------------------------*/
.sidebar-left #main,
.sidebar-right #main,
.two-sidebar #main {
  margin: 0 0 2em 0;
}

/* Column
--------------------------------*/
.section {
  width: 100%;
  clear: both;
  padding: 1.6em 0;
}

.row {
  width: 100%;
  clear: both;
  margin-bottom: 1em;
}

.full {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.item {
  margin: 0 0 2em 0;
  padding: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
}

/* Sidebar
--------------------------------*/
/* Common for both sidebar */
.sidebar {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Left sidebar + Right sidebar*/
#sidebar-left,
#sidebar-right,
.two-sidebar #sidebar-left,
.two-sidebar #sidebar-right {
  float: left;
}

.sidebar .block {
  padding: 20px;
  background: var(--content-bg);
  margin-bottom: 2em;
  border-radius: 6px;
}

.sidebar .block-title {
  background: url(../images/circle.svg) no-repeat top right;
  background-size: contain;
  line-height: 1;
  padding-bottom: 0.3em;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
}

.sidebar li {
  padding: 6px 0;
  border-bottom: 1px solid var(--content-border-color);
}

/* Forms in sidebar */
.sidebar input[type="text"],
.sidebar input[type="email"],
.sidebar input[type="url"],
.sidebar input[type="password"],
.sidebar input[type="search"],
textarea {
  width: 100%;
  border: 1px solid var(--content-border-color);
}

/* Header
--------------------------------------*/
.header {
  position: relative;
  width: 100%;
  background: var(--content-bg);
  margin: 0;
  padding: 0;
}

.header-main {
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Header -> site branding. */
.site-brand {
  position: relative;
}

.site-branding {
  position: relative;
  font-weight: 400;
  line-height: 1;
}

.site-branding img {
  width: auto;
  max-height: 36px;
}

.site-branding a {
  color: var(--theme-color);
}

.site-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: var(--theme-color);
  text-transform: uppercase;
}

.site-slogan {
  font-size: 0.8em;
}

/* Header -> header right */
.header-main-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-wrap {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  position: fixed;
  color: #ffffff;
  background: #111111;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 1em;
  width: 100%;
  max-width: 320px;
  z-index: 25;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

ul.main-menu {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1em;
  z-index: 30;
  list-style: none;
  list-style-type: none;
}

.main-menu a {
  color: #fff;
}

ul.main-menu li {
  position: relative;
  padding: 0;
}

ul.main-menu li a {
  border-bottom: 1px solid #434343;
}

.main-menu li span {
  display: block;
  padding: 10px 0;
}

ul.main-menu > li {
  display: block;
  float: none;
  line-height: 1;
  margin: 0;
}

ul.main-menu > li > a {
  display: block;
  margin: 0;
  padding: 10px 0;
}

ul.main-menu > li a::after {
  content: none;
}

ul.main-menu ul.submenu {
  position: relative;
  display: block;
  font-weight: 400;
  margin: 0;
  padding: 0;
  z-index: 30;
}

ul.main-menu ul.submenu li {
  display: block;
  width: 100%;
  font-size: 0.9em;
}

ul.main-menu ul.submenu li {
  background: none;
}

ul.main-menu ul.submenu li a {
  display: block;
  width: 100%;
  padding: 10px 0 10px 20px;
}

ul.main-menu ul.submenu li a::after {
  content: none;
}

.main-menu li span.dropdown-arrow {
  position: absolute;
  display: inline-block;
  right: 0;
  padding: 0;
}

/* Third level drop down */
ul.main-menu ul.submenu ul.submenu {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 0 0 30px;
  z-index: 30;
}

ul.main-menu ul.submenu ul.submenu li {
  display: block;
  font-size: inherit;
  width: 100%;
  padding: 0;
  text-align: left;
}

.main-menu ul.submenu li.expanded::after {
  content: '+';
  position: absolute;
  right: 0;
  top: 10px;
}

/* Mobile Menu */
.mobile-menu {
  display: block;
  margin-right: 0.5em;
}

.active-menu .menu-wrap {
  overflow-y: scroll;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.close-mobile-menu {
  position: absolute;
  top: 4px;
  right: 4px;
  display: none;
  width: 34px;
  height: 34px;
  line-height: 28px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 48;
  cursor: pointer;
  text-align: center;
}

.active-menu .close-mobile-menu,
.active-menu .main-menu {
  display: block;
}

/* Header -> Full page search form */
.full-page-search {
  position: relative;
  margin: 0;
  padding: 0;
}

.search-icon,
.mobile-menu {
  position: relative;
  margin: 0;
  cursor: pointer;
  width: 36px;
  height: 36px;
  line-height: 32px;
  text-align: center;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid var(--theme-color);
}

.search-icon i,
.mobile-menu i {
  line-height: 32px;
}

.search-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--content-bg);
  z-index: 50;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.search-box.open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.search-box-content {
  position: relative;
  z-index: 60;
  text-align: center;
}

.search-box-content .block {
  width: 100%;
  margin: 0 auto;
}

.search-box-content .block-title {
  color: var(--bold-color);
}

.search-box-content form label {
  display: none;
}

.search-box-content input[type="search"] {
  width: 90%;
  margin: 2em 0;
  padding: 0 30px 10px 0;
  font-size: 1.4em;
  background: url("../images/search.svg") top right no-repeat;
  background-size: contain;
  border: 0;
  border-bottom: 2px solid var(--content-border-color);
  border-radius: 0;
  outline: 0;
}

.search-box-content input[type="search"]:focus {
  border: 0;
  border-bottom: 2px solid var(--theme-color);
}

.search-box-content input[type="submit"] {
  padding: 10px 24px;
  border-radius: 50px;
}

.search-box-close {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  z-index: 60;
  cursor: crosshair;
}

/* Page Header
--------------------------------------*/
.page-header {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 5em 0 6em;
  text-align: center;
}

/* Page Header-> breadcrumb */
.breadcrumb {
  position: relative;
  width: 100%;
}

ol.breadcrumb-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol.breadcrumb-items li {
  display: inline-block;
}

.breadcrumb-item span {
  margin: 0 10px;
}

/* Header circles */
.header-cicle {
  position: absolute;
  border-radius: 50%;
}

.header-cicle1,
.header-cicle2,
.header-cicle3 {
  background: #f3e7f0;
  height: 2em;
  width: 2em;
}

.header-cicle1 {
  -webkit-animation: circle-size 3s linear infinite alternate;
  animation: circle-size 3s linear infinite alternate;
  left: 12%;
  top: 66%;
}

.header-cicle2 {
  -webkit-animation: circle-size 7s linear infinite alternate;
  animation: circle-size 7s linear infinite alternate;
  right: 40%;
  top: 55%;
}

.header-cicle3 {
  top: 20%;
  right: 30%;
  -webkit-animation: circle-size 6s linear infinite alternate;
  animation: circle-size 6s linear infinite alternate;
}

.header-cicle4,
.header-cicle5,
.header-cicle6 {
  background: #e0e2f6;
  height: 2em;
  width: 2em;
}

.header-cicle4 {
  top: 13%;
  left: 28%;
  -webkit-animation: circle-size 7s linear infinite alternate;
  animation: circle-size 7s linear infinite alternate;
}

.header-cicle5 {
  top: 37%;
  left: 40%;
  -webkit-animation: circle-size 10s linear infinite alternate;
  animation: circle-size 10s linear infinite alternate;
}

.header-cicle6 {
  top: 30%;
  right: 10%;
  -webkit-animation: circle-size 6s linear infinite alternate;
  animation: circle-size 6s linear infinite alternate;
}

.header-cicle7,
.header-cicle8,
.header-cicle9,
.header-cicle10 {
  background: #f9b6b4;
  width: 1em;
  height: 1em;
}

.header-cicle7 {
  left: 7%;
  top: 40%;
  -webkit-animation: circle-move 6s linear infinite alternate;
  animation: circle-move 6s linear infinite alternate;
}

.header-cicle8 {
  right: 45%;
  top: 30%;
  -webkit-animation: circle-move 10s linear infinite alternate;
  animation: circle-move 10s linear infinite alternate;
}

.header-cicle9 {
  left: 30%;
  top: 70%;
  -webkit-animation: circle-move 7s linear infinite alternate;
  animation: circle-move 7s linear infinite alternate;
}

.header-cicle10 {
  right: 7%;
  bottom: 10%;
  -webkit-animation: circle-move 4s linear infinite alternate;
  animation: circle-move 4s linear infinite alternate;
}

@-webkit-keyframes circle-size {
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@keyframes circle-size {
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@-webkit-keyframes circle-move {
  to {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes circle-move {
  to {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

/* Homepage
--------------------------------------*/
/* Homepage -> Slider */
.slider {
  height: 100vh;
  width: 100%;
  z-index: 20;
  overflow: hidden;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 20;
  overflow: hidden;
}

.slider-image {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  z-index: 20;
}

.slider-text {
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  z-index: 20;
}

@media (max-width: 767px) {
  .slider-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider-text {
    height: 60%;
    max-height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider-image {
    height: 40%;
    max-height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider-image img {
    max-height: 100%;
  }
}

.slider-container ul {
  padding: 0;
}

.morphist > * {
  display: none;
}

.morphist > .animated {
  display: inline-block;
}

.morphist {
  text-align: center;
}

.home-block-cicle1 {
  position: absolute;
  left: 5%;
  top: 10%;
  background: #f3e7f0;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  -webkit-animation: circle-size 4s linear infinite alternate;
  animation: circle-size 4s linear infinite alternate;
}

.home-block-cicle2 {
  position: absolute;
  right: 5%;
  bottom: 20%;
  background: #f3e7f0;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  -webkit-animation: circle-size 7s linear infinite alternate;
  animation: circle-size 7s linear infinite alternate;
}

.home-block-cicle3 {
  position: absolute;
  left: 3%;
  bottom: 5%;
  background: #f9b6b4;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  -webkit-animation: circle-move 5s linear infinite alternate;
  animation: circle-move 5s linear infinite alternate;
}

/* Homepage -> Homepage content block region */
.region-content-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.region-content-home .block:nth-child(even) {
  background: var(--content-bg);
}

.region-content-home .block {
  padding: 4em 0;
}

/* Block title */
.homepage-content .block-title {
  text-align: center;
  margin-bottom: 1em;
}

.homepage-content .block-title::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  background: var(--theme-color);
  top: 50%;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.homepage-content .block-title::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  background: var(--theme-color);
  top: 50%;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

/* Drupal Core
----------------------------------- */
/* Admin Toolbar */
button.toolbar-item,
button.toolbar-icon {
  background: none;
}

/* Drupal core Field */
[dir] .field:not(:last-child) {
  margin-bottom: 36px;
}

.field__label {
  font-weight: bold;
}

[dir=ltr] .field--label-inline .field__label, [dir=ltr] .field--label-inline .field__items {
  float: left;
}

[dir=rtl] .field--label-inline .field__label, [dir=rtl] .field--label-inline .field__items {
  float: right;
}

[dir=ltr] .field--label-inline .field__label, [dir=ltr] .field--label-inline > .field__item, [dir=ltr] .field--label-inline .field__items {
  padding-right: 0.5em;
}

[dir=rtl] .field--label-inline .field__label, [dir=rtl] .field--label-inline > .field__item, [dir=rtl] .field--label-inline .field__items {
  padding-left: 0.5em;
}

.field--label-inline .field__label::after {
  content: ":";
}

/* Main -> Node */
.node,
.node-promoted,
.node-sticky,
.node-view-mode-full,
.node-unpublished {
  position: relative;
}

/* Main -> node -> teaser view */
.node-view-mode-teaser {
  position: relative;
  background: var(--content-bg);
  padding: 1em 1em 4em 1em;
  margin-bottom: 4em;
  border-radius: 8px;
}

.node-view-mode-teaser.node-sticky {
  border: 2px solid var(--border-color);
}

.node-view-mode-full .node-taxonomy-container {
  margin: 0;
}

/* Main -> node -> Title */
.node-title a {
  position: relative;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.node-title a::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--theme-color);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.node-title a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* Main -> node -> submitted details */
.node-header {
  position: relative;
  display: block;
  background: var(--content-bg);
  border: 1px solid var(--content-border-color);
  border-radius: 30px;
  font-size: 0.8em;
  width: 100%;
  margin: 0 0 1em 0;
  padding: 10px;
}

.author-picture {
  float: left;
}

.author-picture img {
  width: auto;
  height: 25px;
  margin: 0 6px 0 0;
}

.node-submitted-details {
  margin: 0;
  padding: 0;
}

.node-submitted-details i {
  margin: 0 0 0 1em;
  color: var(--theme-color);
}

.node-submitted-details i.user-icon {
  margin-left: 0;
}

/* Main -> node -> taxonomy and links */
.node-taxonomy-container,
.node-links-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 1em 0;
  border-top: 1px solid var(--border-color);
}

h3.term-title {
  margin: 0;
  font-size: 1.2em;
  line-height: 1;
}

ul.taxonomy-terms {
  margin: 1em 0 0.2em 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

li.taxonomy-term {
  position: relative;
  display: inline-block;
}

li.taxonomy-term a {
  padding: 6px 14px;
  border: 2px solid var(--border-color);
  border-radius: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

li.taxonomy-term a:hover {
  background: var(--theme-color);
  color: #fff;
}

li.taxonomy-term a::before {
  content: '#';
  margin-right: 5px;
}

.node-links-container ul.links {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

ul.inline,
ul.links.inline {
  display: inline;
  padding-left: 0;
}

ul.inline li {
  position: relative;
  display: inline-block;
  padding: 0;
  list-style-type: none;
}

ul.inline li a {
  display: inline-block;
}

.node-links-container li {
  float: left;
  margin-right: 1em;
}

/* read more link */
li.node-readmore {
  float: right;
  margin: 0;
}

li.node-readmore a {
  position: relative;
  border: 2px solid var(--theme-color);
  border-radius: 30px;
  padding: 0.4em 0.8em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

li.node-readmore a:hover {
  color: var(--theme-color);
  padding: 0.4em 3em 0.4em 0.8em;
}

li.node-readmore a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  height: 2px;
  width: 0;
  background: var(--theme-color);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

li.node-readmore a:hover::after {
  width: 2em;
}

.comment-comments a::before,
.comment-add a::before {
  font-family: 'vani';
  color: var(--theme-color-two);
  padding-right: 6px;
}

.comment-comments a::before {
  content: "\e911";
}

.comment-add a::before {
  content: "\e910";
}

/* Main -> node -> pager */
nav.pager {
  position: relative;
}

.pager ul.pager__items {
  position: relative;
  margin: 0;
  padding: 1em 0;
  list-style: none;
  list-style-type: none;
}

.pager__items {
  clear: both;
  text-align: center;
}

.pager__item {
  display: inline-block;
  padding: 12px 0;
}

.pager__item a {
  padding: 8px 14px;
  background: var(--content-bg);
  border-radius: 4px;
}

.pager__item a:hover,
.pager__item.is-active a {
  background: var(--theme-color);
  color: #fff;
}

/* Form */
.form-item {
  margin-bottom: 1em;
}

.form-required:after {
  content: "*";
  display: inline-block;
  padding-left: 4px;
  color: red;
}

.form-item label {
  display: block;
}

label.option {
  display: inline;
  font-weight: normal;
}

progress {
  vertical-align: baseline;
}

::-webkit-input-placeholder {
  color: var(--border-color);
}

:-moz-placeholder {
  color: var(--border-color);
}

::-moz-placeholder {
  color: var(--border-color);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--border-color);
}

.field--name-body input[type="text"],
.field--name-body input[type="email"],
.field--name-body input[type="url"],
.field--name-body input[type="password"],
.field--name-body input[type="search"],
.field--name-body textarea {
  display: block;
  margin-bottom: 0.8em;
}

/* Node Content
----------------------------------- */
.node-content input[type="text"],
.node-content input[type="email"],
.node-content input[type="url"],
.node-content input[type="password"],
.node-content input[type="search"],
textarea {
  background: var(--content-bg);
  border-radius: 20px;
}

/* Search result page
--------------------------------------*/
.page-content input[type="search"] {
  width: 80%;
}

ol.search-results {
  margin: 1em 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

ol.search-results li {
  margin: 0 0 1em 0;
  padding: 1em;
  background: var(--content-bg);
}

.search-advanced summary {
  margin: 10px 0;
  cursor: pointer;
}

.search-advanced .form-details-wrapper {
  padding: 0.5em 1.4em;
  border: 1px solid var(--border-color);
}

.search-advanced .form-wrapper {
  padding: 0.5em 1.4em;
  border: 1px solid var(--border-color);
}

#footer-top {
  background: var(--content-bg);
  margin: 0;
  padding: 2em 0;
}

.footer {
  position: relative;
  color: var(--footer-color);
  background: var(--footer-bg);
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer .block-title {
  color: #ffffff;
  font-weight: 400;
}

.footer a:hover {
  color: #ffffff;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul,
.footer ul li {
  list-style: none;
}

.footer li {
  border-bottom: 1px solid var(--footer-border-color);
}

.footer li a {
  padding: 5px 0;
  display: inline-block;
}

#footer-blocks {
  margin: 0;
  padding: 3em 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
}

.last-footer-block {
  padding-right: 0;
}

#footer-bottom {
  position: relative;
  margin: 0;
  padding: 1em 0;
}

#footer-bottom-last {
  position: relative;
  margin: 0;
  padding: 1em 0;
  border-top: 1px solid var(--footer-border-color);
}

.footer-bottom-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.copyright {
  margin-bottom: 10px;
}

ul.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin: 0 0 6px 6px;
  padding: 0;
  border: 0;
}

.social-icons li a {
  width: 44px;
  height: 44px;
  line-height: 42px;
  text-align: center;
  padding: 0;
  border: 1px solid var(--theme-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons li a:hover {
  border: 1px solid var(--footer-color);
  border-radius: 6px;
}

.block,
.block-title,
.block-content {
  position: relative;
}

.block-section .block-title {
  margin-bottom: 0.7em;
}

.block-section .block-title::before,
.block-section .block-title::after {
  position: absolute;
  content: '';
  left: 0;
  height: 1px;
  background: var(--theme-color);
}

.block-section .block-title::before {
  bottom: 0;
  width: 30px;
}

.block-section .block-title::after {
  bottom: -6px;
  width: 45px;
}

/* Highlighted Block Region */
.highlighted {
  position: relative;
  background: var(--content-bg);
  width: 100%;
  margin: 2em 0 1em 0;
  padding: 0;
}

.region-highlighted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.highlighted .block {
  position: relative;
  margin: 0;
  padding: 1em 0;
}

.highlighted p:last-child {
  margin: 0;
}

/*Content top and contet bottom Block Region */
.content-top,
.content-bottom {
  width: 100%;
}

.region-content-top,
.region-content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content-top .block,
.content-bottom .block {
  position: relative;
  margin: 0;
}

.content-top .block {
  padding-bottom: 2em;
}

.content-bottom .block {
  padding: 1.5em 0;
}

/* Comments
--------------------------------------*/
#node-comment {
  position: relative;
  margin: 0;
  border-top: 1px solid var(--border-color);
}

#node-comment i {
  color: var(--theme-color);
}

.comments-title i {
  font-size: 1em;
}

/* Comments -> comment form. */
.comment-form-wrap {
  position: relative;
  margin: 2em 0 1em 0;
}

.add-comment-title {
  margin: 0;
}

.add-comment-title i {
  font-size: 1em;
}

.comment-form label {
  display: block;
}

/* Comments -> single comment */
.single-comment {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  padding: 10px 0;
  background: var(--content-bg);
}

.comment-user-picture {
  position: relative;
  padding: 0 4px;
  border-right: 1px solid var(--border-color);
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
}

.comment-user-picture img {
  max-width: 100px;
  height: auto;
}

h3.single-comment-title {
  margin: 0.1em 0;
  font-size: 1.2em;
}

.single-comment-meta {
  width: 100%;
  margin-bottom: 6px;
  padding-bottom: 6px;
  font-size: 0.9em;
  border-bottom: 1px solid var(--border-color);
}

.single-comment-content-body {
  position: relative;
  padding: 0 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
}

#node-comment .indented {
  margin-left: 4em;
}

.comment-delete,
.comment-edit {
  margin-right: 0.8em;
}

.comment-reply a,
.comment-delete a,
.comment-edit a {
  padding: 4px 16px;
  color: #fff;
  background: var(--theme-color);
  border-radius: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.comment-reply a:hover,
.comment-delete a:hover,
.comment-edit a:hover {
  background: var(--theme-color-two);
  color: #fff;
}

/* Main -> Admin Tabs */
ul.page-tabs {
  margin: 0 0 0.6em 0;
  padding: 0 0 1px 0;
  border-bottom: 1px solid var(--border-color);
  list-style: none;
}

.page-tabs li {
  display: inline-block;
  padding: 0;
}

.page-tabs li a {
  padding: 4px 10px;
  background: var(--border-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page-tabs li.active-page-tab a,
.page-tabs li a:hover {
  color: #fff;
  background: var(--theme-color);
}

/* Drupal system message */
.message {
  position: relative;
  margin: 1em 0;
  padding: 14px 14px 14px 64px;
  color: #ffffff;
  text-shadow: none;
}

.message p {
  margin: 0;
}

.message a,
.message a:visited {
  color: #ffffff;
  text-decoration: underline;
}

.message em {
  color: var(--bold-color);
}

.message-status {
  background: #89ad32;
}

.message-status::before {
  content: "\e90d";
  background-color: #759625;
}

.message-error {
  background: #c94d1c;
}

.message-error::before {
  content: "\e90e";
  background-color: #b3461b;
}

.message-warning {
  background: #cd5a0a;
}

.message-warning::before {
  content: "\e90f";
  background-color: #a44707;
}

.message::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 53px;
  height: 100%;
  font-family: "vani";
  font-size: 2em;
  line-height: 53px;
  text-align: center;
}

/* Footer -> Scroll To Top. */
.scrolltop {
  position: fixed;
  display: none;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  line-height: 42px;
  border-radius: 50%;
  background: var(--theme-color);
  color: #fff;
  font-size: 20px;
  z-index: 20;
  cursor: pointer;
  text-align: center;
  padding: 4px;
}

.scrolltop-icon {
  border-radius: 50%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.scrolltop:hover {
  background: var(--theme-color-two);
}

/* Custom Shortcodes
-------------------------------------------*/
/* Shortcodes -> Text align */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.center {
  margin: 0 auto;
}

/* Shortcodes -> Text Size */
.size-2x {
  font-size: 2em;
}

.size-3x {
  font-size: 3em;
}

.size-4x {
  font-size: 4em;
}

.size-5x {
  font-size: 5em;
}

.size-6x {
  font-size: 6em;
}

/* Shortcodes -> container width */
.width30,
.width40,
.width50,
.width60,
.width70,
.width80,
.width90 {
  width: 100%;
  clear: both;
  display: block;
}

/* Shortcodes -> Empty space */
.empty {
  position: relative;
  width: 100%;
  height: 2em;
  clear: both;
}

/* Shortcodes -> Color */
.theme-color {
  color: var(--theme-color);
}

/* Button
-------------------------------------------*/
.button-link,
a.button-link {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #ffffff;
  background: var(--theme-color);
  border: 2px solid var(--theme-color);
  border-radius: 50px;
  padding: 9px 22px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.button-link:hover,
a.button-link:hover {
  color: var(--theme-color);
  background: transparent;
}

/* Services
-------------------------------------------*/
.service {
  background: #ffffff;
  padding: 1em;
  border-radius: 0;
  -webkit-box-shadow: 0 0 20px #cacbda;
          box-shadow: 0 0 20px #cacbda;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.service:hover {
  border-radius: 30px 0;
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
}

.service-icon {
  margin-bottom: 1em;
}

.service-icon img {
  max-height: 50px;
  width: auto;
}

.service-icon i {
  font-size: 3em;
  color: var(--theme-color);
}

.service .button-link,
.service a.button-link {
  color: var(--theme-color);
  background: transparent;
  border: 2px solid var(--theme-color);
}

.service .button-link:hover,
.service a.button-link:hover {
  color: #ffffff;
  background: var(--theme-color);
}

/* Features
-------------------------------------------*/
.feature {
  background: #ffffff;
  padding: 1em;
  -webkit-box-shadow: 0 0 10px #cacbda;
          box-shadow: 0 0 10px #cacbda;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.feature-icon {
  margin-bottom: 1em;
}

.feature-icon img {
  max-height: 50px;
  width: auto;
}

.feature-icon i {
  font-size: 3em;
  color: var(--bold-color);
}

.feature:hover {
  background: var(--theme-color);
  color: #ffffff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.feature .button-link:hover,
.feature a.button-link:hover {
  border: 2px solid #ffffff;
}

/* Animation
-------------------------------------------- */
/*slide up */
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Misc
---------------------------------------- */
::-moz-selection {
  background: var(--theme-color);
  color: #fff;
  text-shadow: none;
}

::selection {
  background: var(--theme-color);
  color: #fff;
  text-shadow: none;
}

/* Clearing
--------------------------------------*/
.clear {
  position: relative;
}

.clear::before,
.clear::after,
.row::before,
.row::after,
.section::before,
.section::after {
  content: '';
  display: table;
  clear: both;
}
/*# sourceMappingURL=style.css.map */
/*********** Custom Theme**************/
.header-cicle {
    display: none;
}

textarea:focus,
input:focus {
	outline: none;
}

.bgImg {
	background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-371678.jpg");
	background-size: cover;
	display: block;
	filter: grayscale(75%);
	-webkit-filter: grayscale(75%);
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	z-index: -999;
}

.card {
	width: 100%;
	/*height: 61%;*/
	border: 0;
	margin-bottom: 20px;
	margin-top: 80px;
	padding: 0px 15px 10px 15px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 5px 6px 20px -5px rgba(0, 0, 0, 0.75);
	border-radius: 6px !important;

}

.glowBox {
	background: linear-gradient(135deg, #ce9ffc, #7367f0);
	margin-top: -70px;
	/*padding: 20px 0;*/
	width: 100%;
	margin-bottom: 15px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2),
		0 13px 24px -11px rgba(115, 103, 240, 0.6);
	border-radius: 6px;
}

.title {
	margin-top: 0.625rem;
	margin-bottom: 0.75rem;
	font-size: 1.25rem;
	line-height: 1.5em;
	text-align: center;
	color: #fff;
}

.socialMedia {
	text-align: center;
	margin-top: 1rem;
	padding: 0;
}

.socialMedia i {
	color: #fff;
}

.desc {
	color: #888888;
	font-size: 14px;
	margin: 0 0 10px;
}

.form {
	display: block;
	width: 100%;
	padding: 0;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: transparent;
	background-clip: padding-box;
	border: 0;
	border-bottom: 1px solid #d2d2d2;
	border-radius: 0;
	box-shadow: none;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	padding-bottom: 4px;
	margin: 0px 0 0 0;

	&:focus {
		outline: none;
	}
}

input::-webkit-input-placeholder {
	color: #aaa;
}

input:focus::-webkit-input-placeholder {
	color: #0d6cb9;
}

.form:focus + .underline {
	transform: scale(1);
}

.underline {
	background-color: #0d6cb9;
	display: inline-block;
	height: 2px;
	left: 0px;
	margin-top: -4px;
	position: relative;
	top: -18px;
	transform: scale(0, 1);
	transition: all 0.25s linear;
	width: 100%;
}
.btn.btn-primary {
	background-color: #0d6cb9 !important;
	color: #fff;
	box-shadow: none;
	border: none;
	cursor: pointer;
	text-decoration: none;
	padding: .525em 2.25em;
  font-size: 1em;
  line-height: 1.5;
  border-radius: .2em;
}
.btn.btn-primary:hover {
	background-color: #f16038 !important;
	color: #fff;
	box-shadow: none;
	border: none;
	cursor: pointer;
	text-decoration: none;
	padding: .525em 2.25em;
  font-size: 1em;
  line-height: 1.5;
  border-radius: .2em;
}
.mainlinks a{
	color:#0d6cb9;
	text-decoration:none;
}
.mainlinks a:hover{
	color:#f16038;
	text-decoration:none;
}

canvas{
		position: fixed;
		top:0px;
		left:0px;
		z-index: -1;
	}

/*********************************************************************/
.bub {
  position: absolute;
  top: calc(100% + 150px);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  opacity: 0.2;
  -webkit-animation: floatR ease forwards;
          animation: floatR ease forwards;
}
.bub.left {
  -webkit-animation: floatL ease forwards;
          animation: floatL ease forwards;
}


.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}

.simplelogin-form .user-register-form input.button--primary {
  width: 25% !important;
}

.simplelogin-form input.form-submit:hover {
  background-color: #f16038 !important;
}

.simplelogin-form input[type="submit"] {
  width: 25%;
  float: unset;
  background-color: #0d6cb9 !important;
  color: #fff;
  box-shadow: none;
  border: none;
  text-decoration: none;
  font-size: 1em;
  line-height: 1.5;
  border-radius: .2em;
  margin-right: 10px;;
}
.reset-btn {
  background-color: #0d6cb9 !important;
  color: #fff;
  box-shadow: none;
  border: none;
  text-decoration: none;
  font-size: 1em;
  line-height: 1.5;
  border-radius: .2em;
  padding: 17px 45px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 10px;
}

.cancel-btn {
  background-color: #0d6cb9 !important;
  color: #fff;
  box-shadow: none;
  border: none;
  text-decoration: none;
  font-size: 1em;
  line-height: 1.5;
  border-radius: .2em;
  padding: 17px 15px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.simplelogin-bg div.form-actions {
  text-align: center;
}
.mainlinks a {
  font-size: 16px;
  font-weight: 100 !important;  
}
.mainlinks a:hover {
  color: #f16038 !important;
  text-decoration: none;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

body.simplelogin {
  font-size: unset !important;
}

.simplelogin-bg input.form-text,
.simplelogin-bg input.form-email,
.simplelogin-bg select.form-select {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: transparent;
}

.simplelogin-bg .tabledrag-toggle-weight-wrapper,
.simplelogin-bg .field-multiple-table thead,
.simplelogin-bg .field-multiple-drag,
.form-item-field-roles label {
  display: none;
}

.simplelogin-bg .field-multiple-table td {
  border: 0px;
}

.field-add-more-submit {
  width: 40% !important;
}

.simplelogin-bg div.form-actions p {
  text-align: left;
}

.simplelogin-bg div.form-actions p span {
  color: red;
}

label.form-required {
  float: right;
  width: 0px;
} 

@media (max-width: 480px) {
  .simplelogin-form {
    width: 310px !important;
  }
  .forgot-password a {
    float: unset !important;
    display: inline-block;
  }
  .simplelogin-form .user-register-form a.cancel-btn,
  .simplelogin-form .user-pass a.cancel-btn {
    padding: 18px 74px !important;
    margin-left: unset;
    margin-right: unset;
  }
  .simplelogin-form input[type="submit"],
  .simplelogin-form .user-register-form input.button--primary,
  .simplelogin-form .user-register-form a.cancel-btn
   {
    width: 100% !important;
    margin-top:20px;
    margin-bottom: 20px;
  }
  .simplelogin-form .user-login-form input.button--primary {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
