.dasboard-table thead th a {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
#views-exposed-form-user-accounts-page-1,
#views-exposed-form-user-accounts-page-2,
#views-exposed-form-user-accounts-page-3,
#views-exposed-form-manage-announcements-page-1,
#views-exposed-form-manage-policies-page-1 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
#views-exposed-form-user-accounts-page-1 > .js-form-type-select,
#views-exposed-form-user-accounts-page-2 > .js-form-type-select,
#views-exposed-form-user-accounts-page-3 > .js-form-type-select,
#views-exposed-form-manage-announcements-page-1 > .js-form-type-select,
#views-exposed-form-manage-policies-page-1 > .js-form-type-select {
  display: flex;
}
#views-exposed-form-user-accounts-page-1 select,
#views-exposed-form-user-accounts-page-2 select,
#views-exposed-form-user-accounts-page-3 select,
#views-exposed-form-manage-announcements-page-1 select,
#views-exposed-form-manage-policies-page-1 select {
  padding-top: 0.28rem;
  padding-bottom: 0.28rem;
  padding-left: 0.8rem;
  font-size: .7875rem;
  width: auto;
  display: inline-block;
  min-width: 80px;
  margin: 0px 5px;
  height: 28px;
}

.pagination .pager__item--first a,
.pagination .pager__item--previous a,
.pagination .pager__item--next a,
.pagination .pager__item--last a {
  font-size: 16px;
}
.pagination .page-item.active a {
  z-index: 1;
  color: #fff;
  background-color: #f16038;
}

/***************Deepak Css*********************/
#edit-body-0-format-help-about {
  display: none;
}

.node-announcement-form h4.form-required::after,
.node-announcement-form label.form-required::after {
  content: "*";
  color: #f16038ed;
}

.field--name-field-expiration-date {
  margin-top: 20px;
  margin-bottom: 20px;
}

.field--name-field-expiration-date h4 {
  color: #414141;
  font-size: 14px;
  font-weight: normal;
  float: left;
  margin-right: 10px;
}

.simplelogin-bg input.form-text,
.simplelogin-bg input.form-email,
.simplelogin-bg select.form-select,
.ui-dialog-content select.form-select
 {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    background-color: transparent;
}

.ui-dialog-content select.form-select {
  width: 59%;
}

.simplelogin-bg .form-actions .button {
    background-color: #0d6cb9 !important;
    color: #fff;
    box-shadow: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 1em 2.25em;
    font-size: 1em;
    line-height: 1.5;
    border-radius: .2em;
    width:  33%;
    margin-top: 4px;
    margin-left: 10px;
    font-weight: normal;
}

.simplelogin-bg .tabledrag-toggle-weight-wrapper,
.simplelogin-bg .field-multiple-drag {
    display: none;
}

.user-login-form .form-actions .button:hover {
    background-color: #f16038 !important;
}

.mainlinks a {
    text-decoration: underline !important;
    font-weight: normal !important;
    font-size: 18px;
}

.mainlinks a:hover {
    color: #f16038 !important;
}

.user-login-form .form-actions {
  text-align: center;
}

.simplelogin-bg .form-actions p {
  text-align: left;
}

.simplelogin-bg .form-actions p span {
  color: red;
}

.simplelogin-bg .field-add-more-submit {
  width: 47% !important;
  background-color: #0d6cb9 !important;
  color: #fff;
  box-shadow: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 1em 2.25em;
  font-size: 1em;
  line-height: 1.5;
  border-radius: .2em;
  margin-top: 4px;
  margin-left: 10px;
  font-weight: normal;
}

.glowBox {
  background: linear-gradient(135deg, #ce9ffc, #7367f0);
  /*margin-top: -70px;*/
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(115, 103, 240, 0.6);
  border-radius: 6px;
}

.simplelogin-bg .cancel-btn,
.node-form .form-submit,
.user-pass-reset input.form-submit,
form[data-drupal-selector="views-exposed-form-event-log-page"] input.form-submit {
  background-color: #0d6cb9 !important;
  color: #fff;
  box-shadow: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 1em;
  line-height: 1.5;
  border-radius: .2em;
  margin-top: 4px;
  margin-left: 10px;
  font-weight: normal;
}

form[data-drupal-selector="views-exposed-form-event-log-page"] input.form-submit {
  
  margin-top: 20px;
}

.simplelogin-bg .cancel-btn {
  padding: 15px 28px;
  text-transform: uppercase;
  font-family: font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

a.button--danger {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  box-shadow: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 1em 2.25em;
  font-size: 1em;
  line-height: 1.5;
  border-radius: .2em;
  margin-top: 4px;
  margin-left: 10px;
  font-weight: normal;
}

.user-update-form label,
.user-form label {
  float: left;
  width: 30%;
}
/*
.user-update-form label {
  float: left;
  width: 30%;
}*/

.user-update-form input.form-text,
.user-update-form input.form-tel {
      width: 59%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 5px;
    margin-bottom: 10px;
}
.user-form .field--name-field-roles {
  margin-top:20px;
  margin-bottom: 10px;
}

.tabledrag-toggle-weight-wrapper {
  display: none;;
}
.user-update-form input.form-text,
.user-form input.form-text,
.user-update-form input.form-tel {
  width: 59%;
}

.ui-dialog-content .user-form label {
  width: 15%;
}

.simplelogin-bg label,
.simplelogin-bg label {
  float: right;
  width: 0px;
}

.simplelogin-bg input.form-text,
.simplelogin-bg input.form-text,
.simplelogin-bg select {
  width: 95% !important;
}

.form-item-pass-pass2 {
margin-top: 20px;
}

.form-required::after {
content: "*";
color: red;
}

.change-pwd-form .form-actions,
.user-form .form-actions {
text-align: center;
}

.btncenter {
  margin-top: 20px;
  text-align: center;
}

.title-box .titleblack {
  font-size: 15px;
  line-height: 35px;
  margin-bottom: 0px;
  color: #000;
}

.add-btn,
.ui-dialog-titlebar {
  background-color: #176db5 !important;
}

.ui-dialog-titlebar {
  color: #fff;
}

.add-btn:hover {
  background:#d24522 !important;
  color: #fff;
  border: 1px solid #d24522;
}


div[role="contentinfo"] {
  background-color: green;
  color: #fff;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

div[role="alert"] {
  background-color: #d24522;
  color: #fff;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

#drupal-modal {
  position: relative;
    left: 0;
    width: 100%;
}

.custom-9wdt {
  margin-top: 70px;
  /*min-height: 425px;*/
}

.error {
  border: 1px solid #d24522;
}

.btn-primary:hover {
  color: #fff;
  background-color: #f16038;
  border-color: #f16038;
}

.ui-widget-header {height: 30px;}
.ui-dialog .field--name-field-roles {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ui-dialog div.tabledrag-toggle-weight-wrapper,
.ui-dialog td.field-multiple-drag,
.node-form .vertical-tabs {
  display: none;
}

.change-pwd-form label { float: left; margin-right: 20px; width: 25%; }
.simplelogin-logo img { max-width: 60% !important; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Arial,Helvetica,sans-serif/*{ffDefault}*/;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 5px;
    margin-bottom: 10px;
}
.form-text {
    display: block;
    margin-top: 0.25rem;
	border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 5px;
    margin-bottom: 10px;
}
legend {
    display: block;
    width: 25%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    float: left;
}
.form-radio{float:left; margin-right:7px; margin-top:3px; padding-left:10px;}
.ui-dialog .ui-dialog-buttonpane button {
    margin: 0.5em 0.4em 0.5em 0;
    cursor: pointer;
    padding: 5px 20px;
}

.tablesort--desc {
  background-image: none !important;
}
.tablesort--asc {
  background-image: none !important;
}
.tablesort--desc::after{
  content: "\f0dd";
  font-family: FontAwesome;
  margin-left:3px;	
}
.tablesort--asc::after{
  content: "\f0de";
  font-family: FontAwesome;
  margin-left:3px;	
}

.node-policy-form .field--name-field-agency,
.node-policy-edit-form .field--name-field-agency {
  margin-top: 20px;
}

.node-policy-form .field--name-field-agency select,
.node-policy-edit-form .field--name-field-agency select {
  height: 30px;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  background: transparent;
}

.msg-link,
.message a {
  text-decoration: underline !important;
  font-size: 16px;
  color:#f16038 !important;
}

.tabledrag-hide,
.field-multiple-drag {
  display: none;
}
.user-form .fieldgroup,
.user-form .field-multiple-table {
    clear: both !important; 
}

.user-form .fieldgroup legend {
  width: 30%;
}

.user-form .fieldgroup .fieldset-wrapper #edit-status {
  display: grid;
  margin-top: 10px;
}

.user-form .field-add-more-submit {
  margin-bottom: 20px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}



