/* Scss Document */

@import url(https://fonts.googleapis.com/css?family=Nunito:400,600,700,900);

@font-face {
	font-family: "Cerebri Sans,sans-serif";
	src: url(../fonts/cerebrisans-light.eot);
	src: local("Cerebri-sans Light"), url(../fonts/cerebrisans-light.woff) format("woff");
	font-weight: 300
}

@font-face {
	font-family: "Cerebri Sans,sans-serif";
	src: url(../fonts/cerebrisans-regular.eot);
	src: local("Cerebri-sans Regular"), url(../fonts/cerebrisans-regular.woff) format("woff");
	font-weight: 400
}

@font-face {
	font-family: "Cerebri Sans,sans-serif";
	src: url(../fonts/cerebrisans-medium.eot);
	src: local("Cerebri-sans Medium"), url(../fonts/cerebrisans-medium.woff) format("woff");
	font-weight: 500
}

@font-face {
	font-family: "Cerebri Sans,sans-serif";
	src: url(../fonts/cerebrisans-semibold.eot);
	src: local("Cerebri-sans Semibold"), url(../fonts/cerebrisans-semibold.woff) format("woff");
	font-weight: 600
}

@font-face {
	font-family: "Cerebri Sans,sans-serif";
	src: url(../fonts/cerebrisans-bold.eot);
	src: local("Cerebri-sans Bold"), url(../fonts/cerebrisans-bold.woff) format("woff");
	font-weight: 700
}

body {
  font-family: Nunito, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: normal;
  color: #414141;
}
p {
  font-size: 13px;
  color: #414141;
}
img {
  max-width: 100%;
  border: 0;
}
.clear {
  clear: both;
  float: none;
  width: 100%;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
a {
  text-decoration: none !important;
  color:#2D2B52;
}
a:hover{
  color:#f9491c;
}

a, span {
  display: inline-block;
}
.mt5 {
  margin-top: 5px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mt0 {
  margin-top: 0px !important;
}
.ml0 {
  margin-left: 0px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mllr-15 {
  margin-left: -15px !important;
  margin-right: -16px !important;
}
.pl15 {
  padding-left: 15px !important;
  ;
}
.pr15 {
  padding-right: 15px !important;
  ;
}
.pr10 {
  padding-right: 10px !important;
  ;
}
.pt15 {
  padding-top: 15px !important;
  ;
}
.pl-0 {
  padding-left: 0 !important;
  ;
}
.pr-0 {
  padding-right: 0 !important;
  ;
}
.no-padding {
  padding: 0px !important;
  ;
}
.no-bg-b0 {
  border: 0 !important;
  background: none !important;
}
.img-responsive {
  width: 100%;
  height: auto;
}

/*------------------inline common-css-------------------*/
.titleblack{color:#000; font-size: 16px;
    line-height: 35px;
    margin-bottom: 0px;}
.formlabel{
	float: left;
    line-height: 35px;
    margin-right: 20px;
	}
.formlabelpass{
	float: left;
    line-height: 35px;
    margin-right: 20px;
	width:15%;
	}
.col6{width:80%;}
.col4{width:60%;}
.btncenter{margin:0 auto; text-align:center;}
.form-control {
    height: calc(1.5em + 0.4rem + 2px)!important;
    padding: 0.2rem 0.3rem !important;
	margin-bottom: 8px;
	font-size: .900rem !important;
	}
.btnblue {
	padding: 0.25rem 0.4rem;
	width:100px; margin:0px 5px;
}
.btn-light {
    color: #212529;
    background-color: #e3e3e3 !important;
    border-color: #f8f9fa;
}
.alinkcolor{color:#00b2ea; text-decoration:underline;}
.plh{line-height:25px; font-size:15px;}
.widthbox{width:100%; margin:0 auto; padding:0px; border:0px; margin-bottom:8px;}
.myrequest{color:#0d6cb9; text-decoration:underline;}
.accepted{float:left; margin-right:15px;}
.rejected{float:left;}
.advancedsearch{width:100%; margin:0 auto; padding:0px; border:0px; text-align:right; margin-bottom:8px;}
.bottompadding{margin-bottom:110px;}
.divcenter{margin:0 auto; text-align:center;}
.advancedsearchicon{color:#2D2B52; padding-right:5px;}
.advancedsearchbg{box-shadow: 0 0 35px 0 rgb(66 72 80 / 15%); border-radius: 10px;margin: 10px; padding: 10px;}
.select50{width:37.4%;}
.content_table{margin-top:15px; margin-bottom:80px;}
.tabbody{padding:10px;}
.veryhigh{display: flex; color:#b72418; font-weight:bold; margin:0px !important; padding-top: 5px;}
.veryhighicon{font-size:20px; color:#b72418; margin-right:5px;}
.high{display: flex; color:#f16038; font-weight:bold; margin:0px !important; padding-top: 5px;}
.highicon{font-size:20px; color:#f16038; margin-right:5px;}
.medium{display: flex; color:#ecaf33; font-weight:bold; margin:0px !important; padding-top: 5px;}
.mediumicon{font-size:20px; color:#ecaf33; margin-right:5px;}
.low{display: flex; color:#42873f; font-weight:bold; margin:0px !important; padding-top: 5px;}
.lowicon{font-size:20px; color:#42873f; margin-right:5px;}
.padding15{padding-bottom:15px;}
.margin10{margin-top:10px;}
.eventsource{float:left; margin-right:30px;}
.form-groupprint {display: block !important; align-items: center;}
.btnprintright{float:right;}


/*------------------common-css-------------------*/
.fa-phone {
  transform: scaleX(-1);
}
.blue-text {
  color: #2f5eac;
}
.blue-bg {
  background: #2f5eac;
}
.common-btn {
  font-size: 16px;
  font-weight: 500;
  background:#2d2b52;
  padding: 8px 36px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  transition: none;
  text-align: center;
}
.common-btn:hover {
  background:#d24522;
  color: #fff;
}
.common-form .form-control {
    border-radius: 4px;
    /* background: linear-gradient(#fff, #f1f3f7); */
    height: calc(1.4em + .75rem + 2px);
    font-size: 11px;
    border: 1px solid #999;
    padding: 0px 7px;
	font-weight: 500;
}
.form-control:focus {
  border-color: #00ABC5;
}

.form-group{ margin-bottom:8px; }

select.form-control {
  padding: 0;
  padding-left: 10px;
}
:focus {
  box-shadow: none !important;
  outline: none !important;
}
h1 {
  font-size: 24px;
  font-weight: 700;
}
h2, h3 {
  font-size: 20px;
  font-weight: 500;
}
h4 {
  font-size: 18px;
  font-weight: 600;
}
@media (min-width: 1200px) { 
.container { max-width:1200px; }
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Cerebri Sans,sans-serif";
    color: #0d6cb9;
}

/*------------------end common-css-------------------*/




/*--------------dashboard css---------------*/

#accordion .arrw2 > a:after {
content: "\f03c";
/* fa-chevron-down */
font-family:"Font Awesome 6 Free";
position: absolute;
right:18px;
font-style: normal;
font-weight: 900;
font-size:14px;
top:15px;
transform: scaleX(-1);	
}

#accordion .arrw2 > a[aria-expanded="true"]:after {
content: "\f03C";
font-style: normal;
font-weight: 900;
}

.custom-colapse .side-filters-title a i{ font-size: 20px; }

#side-menu .menu-arrowin{ position: absolute; }

.menu-arrowin:before {
content: "\f03c";
font-family:"Font Awesome 6 Free";
font-style: normal;
font-weight: 900;
font-size:14px;
top:15px;
}

.left-men a {
    font-size: 14px;
    color: #000;
    width: 100%;
    font-weight:600;
    padding: 13px 25px;
}
.left-men a img {
    margin-right: 10px;
}

.side-filters-title a{
	font-size: 12px;
    color:#6e768e;
    width: 100%;
    font-weight:600;
    padding:12px 0px 8px;
    padding-right: 10px; 
}

.side-filters-title a i {
    font-size: 15px;
    margin-right:5px;
    vertical-align:text-bottom;
}

.side-filters-title{ margin-bottom:5px; position: relative; }

.side-filters-title a:hover{ color:#0d6cb9 !important;   }

.side-filters-col.active {
	display: flow-root;
	border-radius: 0px 10px;
	margin-bottom: 5px;
}

.side-filters-col.active a{ color:#6e768e; }
.menu-list-sub a:hover{ color:#6e768e; }

.main-logo {
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 15px;
	position: fixed;
  width: 240px;
	z-index:999; 
}

.main-logo:before {
    background: #fff;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: -24px 0px 23px 0 rgb(66 72 80 / 15%);
}    

.left-menu{ padding:14px 0px 0 14px; }

.left-mobile-menu{ color:#000; text-align: center; padding:10px 0; cursor: pointer; font-size:24px; display: none;  }

.top-search { display: inline-block; width:100%;  position: relative;  }
button.search-ico {
    border: 0;
    font-size: 19px;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: scaleX(-1);
    color: #ffffff;
    background:#403d7d;
    padding: 6.5px 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.top-search .form-control {
    padding: 10px 30px 10px 15px;
    font-size: 13px;
    font-weight: 500;
    height: auto;
    background: #fff;
    border: 1px solid #999;
    border-radius: 5px;
	
}


.top-search .form-group{ margin-bottom:0; margin-left:10px; }

.top-notify {
    position: relative;
    margin-left: auto;
    display: inline-block;
    padding: 13px 10px;
}

.top-notify span {
    position: absolute;
    top: 9px;
    right:1px;
    z-index: 1;
    background:#2d2b52;
    border-radius: 50%;
    color: #fff;
    width: 17px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
}

.top-user-profile .dropdown-toggle::after {
    content: "";
    background:url(../images/arrow-ico.png) no-repeat;
    vertical-align: middle;
    width:10px;
	height:5px;
	border:0; 
}

.top-user-profile{ display: inline-block; margin-left: auto; vertical-align: middle; }
.top-user-profile a{ display:flex; flex-wrap: wrap; align-items: center; }
.top-user-profile small{ display: block; font-size: 14px; color: #176db5; font-weight: 700; margin-left: 3px; }
.top-user-profile p {
    margin-bottom: 0;
    margin-left: 10px;
    line-height: 15px;
    margin-right:5px;
    font-size: 12px;
	font-weight: 600;
	color: #333;
}

.top-noti-user {
    display: flex;
    align-items: center;
    margin-left: -20px;
    padding:15px 30px 15px 10px;
    margin-bottom: 15px;
    margin-right: -15px;
	background:#fff !important;
	box-shadow:0 0 35px 0 rgb(66 72 80 / 15%);
	position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 220px);
	z-index:2; 
}

.act-topnt {
  width: calc(100% - 48px);
}

.top-search {
    display: inline-block;
    max-width:350px;
    width: 100%;
    position: relative;
}

.top-user-profile .dropdown-menu{ padding:0; }
.top-user-profile .dropdown-menu a {
    color: #000;
    font-size: 12px;
    padding:6px 15px;
    min-width: 200px;
	font-weight: 500;
}
.top-user-profile .dropdown-menu.show {
    left: -16px !important;
    margin-top: 4px;
    border: 1px solid #7d7d7d;
    padding-top: 7px;
    border-radius: 6px;
    padding-bottom: 7px;
}

.top-user-profile .dropdown-menu a i{ color:#000; font-size:24px; margin-right:5px;   } 

.top-user-profile .dropdown-menu a:hover{ background:#eee; }

.user-nametxt{ font-size:12px; padding-left:15px; padding-right:15px; color:#0d6cb9; font-weight: 600;   }

.main-wrapper{ background:#fff;  }
.white-bg{ background:#fff; }
.content-wrapper{ padding: 10px 10px; border-radius: 5px; margin-top:20px; }

.menu-list{ padding:0; list-style:none; }


.menu-list-head a.menu-list-title {
    font-size: 13px;
    color: #fff;
    width: 100%;
    font-weight: 500;
    padding:15px 25px;
	padding-right: 10px;
	border-bottom:1px solid #5f5f5f; 
	border-top-left-radius: 30px; border-bottom-left-radius: 30px;
}

.menu-list-head a img{ margin-right:10px; vertical-align:-6px; }

.menu-list-head a.menu-list-title:hover, .menu-list-head.active a.menu-list-title{ background:linear-gradient(to right, #5920AA, #565aff); } 

.custom-3wdt{ -ms-flex: 0 0 17.6%;
    flex: 0 0 17.6%;
    max-width: 17.6%;
	background: #f2f3f5;
}

.custom-9wdt{ 
	-ms-flex: 0 0 82.4%;
    flex: 0 0 82.4%;
    max-width: 82.4%; 
	padding-left: 20px;
	background:#f2f3f5;
	/*height: 100vh;*/

}

.sorting-show { margin-bottom: 15px; }

.left-side-menu{ z-index:1; }

button.button-menu-mobile.waves-effect.waves-light.rotateicon {
    background: none;
    border: none;
}

.top-noti-user .button-menu-mobile .menu-arrowin:before{ font-size:20px; color:#176db5;  }

.menu-arrowin{ position:initial; border: none; background:none; font-family: "Font Awesome 6 Free";   }

.title-box .title{ font-size:16px; line-height: 35px; margin-bottom:0px;  } 

.sorting-show .form-group{ display: flex; align-items: center; }
.sorting-show .form-group label{ margin-bottom:0; }
.sorting-show select.form-control{
    padding-top: 0.28rem;
    padding-bottom: 0.28rem;
    padding-left: 0.8rem;
    font-size: .7875rem;
	width: auto;
    display: inline-block;
	min-width:80px;
	margin: 0px 5px;
    height: 28px;
}

.pagego{ display: flex; align-items: center; }
.pagego .form-control{ width:40px; display: inline-block; height: 28px; margin:0px 5px; padding-left:5px; padding-right:5px; text-align: center; font-size:14px; }
.btn.btn-page{ background:#176db5; border-radius: 30px; color:#fff; padding: 3px 15px;  }

.table-showing-grid{ display: flex; justify-content: space-between; align-items: center; }


.menu-list-sub{ padding-left:20px; list-style:none; }
.menu-list-sub a{ color:#000; font-weight: 500; width:100%; padding:7px 0; font-size:14px; position:relative; }
.menu-list-sub a:hover{ color: #f16038; } 

.side-filters-col.active .menu-list-sub li { color: #f16038; } 

.menu-list-sub li { padding-left:7px; }

.menu-list-head.active .menu-list-sub {
    padding-left:40px;
    list-style: none;
	margin-top:5px; 
}

.head-title{ margin-bottom:20px; }

.dasboard-table thead {
    background:#176db5;
    color: #fff;
	text-align: left;
}

.dasboard-table thead th {
    vertical-align:top;
    font-size: 13px;
    font-weight:600;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
    border-bottom: 1px solid #e7e9ed;
}

.table thead th{ border-bottom: 1px solid #424e5a; border-top: 1px solid #424e5a; }

.table td {
    font-size: 14px;
    font-weight: 500;
    color: #111;
    vertical-align: middle;
}

.table td, .table th{ padding: 0.55rem 0.75rem; }

.nav-pills .nav-link {
	background: 0 0;
	border: 0;
	border-radius: .25rem
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background-color: #00b2ea;
}

.nav-pills>li>a,
.nav-tabs>li>a {
	color: #dee2e6;
	font-weight: 600
}

.nav-pills>a {
	color: #dee2e6;
	font-weight: 600
}
.navtab-bg .nav-link {
	background-color: #424e5a;
	margin: 0 5px
}
.dasboard-table .fas {
    font-size: 10px;
    padding: 0px 8px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dasboard-table .fas.fa-edit { color:#42873f; border-color:#42873f; }
.dasboard-table .fas.fa-trash-alt { color:#b72418; border-color:#b72418;  }
.dasboard-table .fas.fa-list-alt { color:#176db5; border-color:#176db5;  }

.dasboard-table .fas.fa-clone { color:#176db5; border-color:#176db5;  }
.dasboard-table .fas.fa-angle-double-up { color:#176db5; border-color:#176db5;  }
.dasboard-table .fas.fa-angle-double-down { color:#176db5; border-color:#176db5;  }

.form-control[type=file] {
	overflow: hidden
}

.form-control[type=file]:not(:disabled):not([readonly]) {
	cursor: pointer
}
.form-control::file-selector-button {
	padding: .45rem .9rem;
	margin: -.45rem -.9rem;
	-webkit-margin-end: .9rem;
	margin-inline-end: .9rem;
	color: #94a0ad;
	background-color: #36404a;
	pointer-events: none;
	border-color: inherit;
	border-style: solid;
	border-width: 0;
	border-inline-end-width: 1px;
	border-radius: 0;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.work-status {
    background: #ff8b93;
    border-radius: 3px;
    padding: 7px 12px;
    text-align: center;
    color: #fff;
    display: inline-block;
}

.light-red { background: #e15971; }
.light-green { background: #53b51f; }
.light-grey { background: #969696; }

.home-table{ overflow-x: scroll; margin-bottom: 30px; }
.home-table .table-responsive { min-width: 1200px; }

.main-footer {
    padding: 19px 15px 20px;
    color: #8c98a5;
    background: #000;
    width: 100%;
    margin-top: 20px;
}

.data-tabs{ margin:0px 0 30px; }
.data-tabs a{ width:100%; }
.data-tabs .row{ margin:0px -5px; }
.data-tabs .col-3{ padding:0px 5px; }


.dashboard-color{ background:#fff; color:#333; padding:20px; border-radius:10px; position: relative; box-shadow: 0px 0px 2px #bbbfc5;  }

.icon4col{ position: absolute; right:30px; top:20px; background:red; width:50px; height:50px; border-radius:50%; text-align: center; line-height:50px;  font-size:28px; color:#fff; }

.bg-gradient-red {
    background: linear-gradient(87deg,#f5365c,#f56036)!important;
}

.bg-gradient-orange {
    background: linear-gradient(87deg,#fb6340,#fbb140)!important;
}

.bg-gradient-green {
    background: linear-gradient(87deg,#2dce89,#2dcecc)!important;
}

.bg-gradient-info {
    background: linear-gradient(87deg,#11cdef,#1171ef)!important;
}

.dashboard-color h3 {
    text-transform: uppercase;
    color: #8898aa;
    font-size: 15px;
    font-weight: 600;
}
.dashboard-color h4 {
    font-size: 24px;
    font-weight: 600;
}
.dashboard-color h4 small {
    display: block;
    font-size: 13px;
    margin-top: 5px;
    font-weight: 500;
    color: #777;
}

.head-title h3{ text-transform:uppercase; font-size:18px; font-weight:600; }
.content-title {
    font-size: 16px;
    margin-bottom: 20px;
    color:#2d2b52;
}

.datepic .form-control {
    background: #f4f6f9;
    border: 1px solid #ced0da;
    padding: 10px;
    border-radius: 4px;
    height: calc(1.5em + .75rem + 2px);
}

.gj-datepicker-md [role=right-icon] {
    position: absolute;
    right: 9px;
    top:9px;
    font-size: 20px;
}

.hint-text {
    font-size: 13px;
    color: #000;
}

.pagination {
	margin-bottom:0; 
    border-radius:0px;
    overflow: hidden;
}

.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #fff;
    margin: 0 2px;
    line-height: 30px;
    border-radius:15px;
    text-align: center;
    padding:1px 15px;
    background:#176db5;
}

.pagination li a i{ border:none !important; padding:1px 0px !important; border-radius:15px !important; line-height:26px !important; }

.pagination .page-item:last-child .page-link{  border-radius:15px !important; }

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #f16038;
}

.dasboard-table select.form-control {
    padding: 0;
    padding-left: .75rem;
    height: calc(.75em + .75rem + 4px) !important;
	font-size:13px;
	font-weight: 600;
	border-radius:4px; 
}



.title-box small {
    font-size: 12px;
    text-transform: none;
    float: right; 
}

.title-box .common-btn {
    padding: 10px 15px;
    font-size: 14px;
}

.title-box .common-btn:hover{ color:#fff !important; } 


.filter-btn {
    background: #fff;
    padding: 5px 8px;
    font-size: 20px;
    border-radius: 6px;
    margin-left: 10px;
    vertical-align: bottom;
    border: 1px solid;
}



.menu-tgl {
    font-size: 20px;
    color: #176db5;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: 5px;
	transition:all 0.2s ease-in; 
}
.menu-tgl:focus, .menu-tgl.act{ transform: rotate(180deg); }

.left-colapse .custom-3wdt {
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
    background:#fff;
    min-height: 100vh;
    overflow: hidden;
}

.left-colapse .custom-9wdt {
    -ms-flex: 0 0 83%;
    flex: 1 0 95%;
    max-width: 95%;
    padding-left: 20px;
}

.left-colapse .left-menu { padding: 5px; }
.left-colapse .side-filters-title a{font-size: 0px; padding: 9px; text-align: center;  }
.left-colapse #accordion .arrw2 > a:after{ display:none; }
.left-colapse .side-filters-title a img { margin-right: 0; }

.left-colapse .main-logo {
  width: 65px;
  overflow: hidden;
  height: 82px;
  margin: 0px auto 10px;
  border: 0;
  padding-top: 23px;
}

.left-colapse .main-logo img {
    max-width: inherit;
    object-position: -83px;
    height: 40px;
}

.left-colapse .menu-list-sub{ display:none; }

h4.label,
span.fieldset-legend {
    color: #333;
    font-weight: normal;
    font-size: 16px;
}

#drupal-modal label {
  /*float: left;*/
  width: 25%;
  
}

.form-item-status {
  float: left;
  margin-right: 10px;
}

.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: 0.3em;
  top: 50%;
  width: 22px;
  margin: -13px 0 0 0;
  padding: 0px;
  height: 22px;
}

.ui-dialog .ui-dialog-titlebar-close:before, .ui-dialog .ui-dialog-titlebar-close:after {
	position: absolute;
    left: 9px;
    content: ' ';
    height: 14px;
    width: 2px;
    margin-top: -7px;
    background-color: #000;
}
.ui-dialog .ui-dialog-titlebar-close:before {
  transform: rotate(45deg);
}
.ui-dialog .ui-dialog-titlebar-close:after {
  transform: rotate(-45deg);
}

/*
.ui-dialog-titlebar-close {
  background:url(../images/561189.png) no-repeat;
  background-size:cover;
  background-color: #fff;
}*/

.main-logo img {height: 57px !important;}
.top-noti-user {height: 82px;}
.left-colapse .main-logo img {object-position: 0;}


form[data-drupal-selector="views-exposed-form-event-log-page"] .js-form-type-select {
  float: left;
  width: 25%;
  margin-top: 20px;
}

form[data-drupal-selector="views-exposed-form-event-log-page"] .js-form-type-select label {
  width: 115px;
}

form[data-drupal-selector="views-exposed-form-event-log-page"] .js-form-type-select select {
  height: 30px;
}

form[data-drupal-selector="views-exposed-form-event-log-page"] .bef-datepicker {
  width: 35%;
}
form[data-drupal-selector="views-exposed-form-event-log-page"] .js-form-type-textfield label {
  float: left;
  width: 12%;
}
form[data-drupal-selector="views-exposed-form-event-log-page"] .form-actions {
  clear: both;
  margin-top: 10px;
}

#drupal-modal {
  width: fit-content !important;
}

.ui-dialog-content input.form-email {
  width: 60%;
  border: 0px;
}

.ui-dialog-content .field-add-more-submit {
  background-color: #007bff;
  color: #fff;
}
/*---------------media css---------------*/

@media (max-width:1024px){

.left-crm-table{ margin-bottom:30px; }	
.custom-3wdt{ -ms-flex: 0 0 22%; flex: 0 0 22%; max-width: 22%; }
.custom-9wdt { -ms-flex: 0 0 78%; flex: 0 0 78%; max-width: 78%; }	

.side-bar{ overflow-y: scroll; }		
	
}

@media (max-width:823px){


.menu-tgl{ display: none; }	
.custom-3wdt {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    min-height: auto;
	padding: 5px 20px !important;
}
	
.custom-9wdt {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left:15px;
    padding-right:15px;
}
	
.top-noti-user{ margin-right: -15px; margin-left: -15px; }	
	
.menu-list { display: none; }	
.left-mobile-menu {
    display: block;
    position: absolute;
    top: 8px;
    right:15px;
}
.main-logo{text-align: left; border-bottom:none; }	

.left-menu { padding: 0; }	

	
}

@media (max-width:768px){
	
.main-content .position-relative { min-height: calc(100vh - 70px); }
.login-copyright{ display: none; }	
		
}


@media (max-width:736px){
.container { max-width:96%; }	
.home-search{ left: 0; padding: 20px;  }	
.view-lead-btn a{ margin-left:0; margin-right:10px;  }	

	
	
}

@media (max-width:667px){
.top-search{max-width: 54%; }	

.left-crm-table .empty-states{ margin: 10px 15px 0; }	
	
.left-crm-table .home-static-header{ position: static; }
.left-crm-table .home-page-container{ position: static; margin-bottom: 20px; }	
.side-bar{ width: 100%; right: -100%; }	
	
}


@media (max-width:568px){

.top-noti-user{ display: block; }	
.top-search .form-group{ margin-left:0; }
.top-user-profile{ margin-left:5px; }	
.top-user-profile p{ display: none; }	
.top-noti-user{ padding: 6px 10px 6px 10px; }	
.top-user-profile img {
    display: none;
}	
	
}


@media (max-width:520px){

	
	
}