<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<div class="bgImg"></div>
	<div class="content">
		<div class="d-flex h-100 align-items-center justify-content-center">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-6 ml-auto mr-auto">
						<div class="card">
							<div class="card-body">
								<form>
									<div class="glowBox">
										<img src="/cityons/themes/vani/images/logo.jpg" style="width:100%; border-radius: 6px;">
									</div>
								</form>
								<div class="desc text-center">
									<img src="/cityons/themes/vani/images/logo.png" style="width:50%;">
								</div>
								<div class="signUp">
                                {{ login_form }}
								</div>
								<div class="text-center">
                                <a href="#" class="btn btn-primary">Login</a>
								<a href="#" class="btn btn-primary">Reset</a>
								
								<p class="mainlinks" style="text-align:center; margin-top:10px;">
									<a href="signin.html" style="text-align:left; float:left; text-decoration:underline;">Setup New Account</a>
									<a href="forgot.html" style="text-align:left; float:right; text-decoration:underline;">Forgot My Password</a>
								</p>
								
                            </div>
							</div>
						</div>
						<p style="text-align:center; color:#000;">For assistance, please <a href="#" style="text-decoration:underline; color:#f16038; font-weight:bold;">click here</a> for your ESC contact</p>
						<p style="text-align:center; color:#000;"">2021 © Region 18 Education Service Center.</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>