{#
/**
 * @file
 * Theme "page__simplelogin" template.
 *
 * @see simplelogin_preprocess_simplelogin()
 * @see simplelogin_theme_registry_alter()
 */
#}
{% spaceless %}
  <div class="simplelogin-wrapper {{ background_class }} {{ background_opacity }}">
    <div class="simplelogin-form" style="width: {{ wrapper_width }}px">
      <div class="simplelogin-link">
        {% if path == '/user/password' %}
          <a href="{{ base_path }}user/login" class="signreg">{{ 'Login'|t }}</a>
        {% elseif path == '/user/register' %}
          <a href="{{ base_path }}user/login" class="signreg">{{ 'Login'|t }}</a>
        {% else %}
          {% if site_register != 'admin_only' %}
            <a href="{{ base_path }}user/register" class="signreg">{{ 'Sign up'|t }}</a>
          {% endif %}
        {% endif %}
      </div>
     <div class="glowBox">
	 <img src="/cityons/sites/default/files/logo.jpg" style="width:100%; vertical-align: middle; border-radius: 6px;">
	 </div>
      <div class="simplelogin-bg">
        <div class="simplelogin-logo">
          <a href="{{ base_path }}"><img src="{{ logo }}" alt="Home"/></a>
		  	  
       </div>

        {{ page.highlighted }}
		
        {{ page.content }}
		
 
       
	   {% if path == '/user/login' %}
          <div class="forgot-password">
		   <a href="{{ base_path }}user/register" style="color: #0d6cb9;text-align:left; float:left; text-decoration:underline;font-weight: 600;">Setup New Account</a>
            <a href="{{ base_path }}user/password"  style="color: #0d6cb9;text-align:left; float:right; text-decoration:underline;font-weight: 600;">{{ 'Forgot My Password'|t }}</a>
          </div>
		   
        {% endif %}
		
      </div>
    </div>
  </div>
   <p style="text-align:center; color:#000;">For assistance, please <a href="#" style="text-decoration:underline; color:#f16038; font-weight:bold;">click here</a> for your ESC contact</p>
  <p style="text-align:center; color:#000;" "="">2021 © Region 18 Education Service Center.</p>
{% endspaceless %}
